.container {
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    padding: 0 2rem;
}

.caja{
    background-color: white;
    /* width: 100%;
    height: 100vh; */
    border-radius: 5px;
    -webkit-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    text-align: center;
    align-items: center;
}

.text-poli{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    color: white;
    margin-left: 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    border-bottom: 1px solid #000;
}

hr{
    width: 100%;
}


.tr-up{
    border-top: 1px solid;
    margin: 10px 15px;
}
.btn{
    margin: 15px 5px;
    width: 70px;
}
.btn-success{
    margin-left: 10px;
}

.btn-danger{
    margin-left: 10px;
}

.libre{
    background-color: rgb(50, 142, 111) !important;
}

.ocupado{
    background-color: rgb(178, 20, 20) !important;
}

.cube {
    cursor: pointer;
    background-color: #f1e9e9;
    color: #212121;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.name {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.logout {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #f44336;
}

.logout:hover {
    background-color: #da190b;
}