.container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.caja{
  background-color: white;
  width: 100%;
  /* height: 600px; */
  border-radius: 5px;
  -webkit-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
  -moz-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
  box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
}
.text-poli{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 0px;
color: white;
margin-left: 10px;
}
.text-poli2{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-bottom: 0px;
}

.cube {
cursor: pointer;
background-color: #f1e9e9;
color: #212121;
padding: 5px 10px;
border-radius: 5px;
border: none;
margin: 10px 0;
font-size: 15px;
font-weight: bold;
text-align: center;
text-decoration: none;
display: inline-block;
transition-duration: 0.4s;
}
.register {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
/* background-color: #31d531; */
}

.list {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background-color: #df0c0c;
}
.list:hover {
background-color: #b4bc17;
}
.register:hover {
background-color: #b4bc17;
}

.bg-dark{
background-color: #212121;
} 
.text-white{
color: white;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}