<div class="container">
    <div class="caja">
        <p class="text-poli">EditarPersona</p>
        <button class="button-x" (click)="atHome()"> <strong>X</strong> </button>
        <img src="../../../assets/img/people.avif" alt="logo" class="center" id="logo">

        <div class="justify-content-center" >
            <form class="form" [formGroup]="editPerForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <input type="text" class="form-control" id="name" name="password" formControlName="name" placeholder="name_user" required>
                    <!-- <p [hidden]="gName.valid || gName.untouched">Debe ingresar un nombre</p> -->
                    
                    <input type="email" class="form-control" id="user" name="usuario" formControlName="email" placeholder="email_user" required>
                    <!-- <p [hidden]="gEmail?.untouched || !gEmail?.errors?.['required']">Debe ingresar un email</p> -->
                    <!-- <p *ngIf="gEmail?.errors?.['email']">El email no es valido</p> -->

                    <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="password" required>
                    <!-- <p [hidden]="statusForm.get('password')?.valid || gPassword?.untouched">Debe ingresar una Contraseña</p> -->

                    <select name="type_user" id="type_user" formControlName="type" class="form-control" required>
                        <option value="estudiante">Estudiante</option>
                        <option value="docente">Docente</option>
                        <option value="administrador">Administrador</option>
                      </select>

                      <select name="state_user" id="state_user" formControlName="state" class="form-control" required>
                        <option value="actived">Activo</option>
                        <option value="disabled">No-Activo</option>
                      </select>
                </div>
                <!-- <button class="button" routerLink="register"> <strong>Cancel</strong> </button> -->
                <button class="button" [disabled]="!editPerForm.valid" type="submit"><strong>Registre</strong> </button>
            </form>
        </div>
    </div>
</div>