.container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.caja{
    background-color: white;
    width: 60%;
    /* height: 600px; */
    border-radius: 5px;
    -webkit-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
}
.text-poli{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#logo{
    width: 150px;
    margin-top: 10px;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form input {
    /* width: 300px; */
    height: 35px;
    /* margin: 15px 0px; */
  }

  .form-control{
    -webkit-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    width: 300px;
    margin: 15px 0px;
  }
  .form-control-seccion{
    -webkit-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    box-shadow: 9px 11px 15px 0px rgba(0,0,0,0.54);
    width: 210px;
    margin: 0px 15px;
  }


.button {
    background-color: #fafafa; /* Green */
    border: solid 1px;
    border-radius: 3px;
    color: rgb(8, 111, 23);
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    float: left;
  }
  .button-x {
    background-color: #e90000; /* Green */
    border: solid 1px;
    border-radius: 3px;
    color: rgb(250, 255, 251);
    /* padding: 5px 30px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    /* float: left; */
  }
  a{
    text-decoration: none;
  }
